{% extends 'partials/base.html' %}

{% load static %}
{% load crispy_forms_tags %}



{% block main %}


			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul>
			<div class="info-data">
				<div class="card">
					<div class="head">
						<div>
							<h2>{{products}}</h2>
							<p>Products</p>
						</div>
						<i class='bx bx-trending-up icon' ><a href="{% url 'products'%}">View Products</a></i>
					</div>
					<span class="progress" data-value="40%"></span>
					<span class="label">40%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>{{clients}}</h2>
							<p>Clients</p>
						</div>
						<i class='bx bx-trending-down icon down'><a href="{% url 'clients'%}">View Clients</a></i>
					</div>
					<span class="progress" data-value="60%"></span>
					<span class="label">60%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>{{paidInvoices}}</h2>
							<p>Paid Invoices</p>
						</div>
						<i class='bx bx-trending-up icon' ><a href="{% url 'invoices'%}">View Invoices</a></i>
					</div>
					<span class="progress" data-value="{{pourcentagePaidinvoices}}"></span>
					<span class="label">{{pourcentagePaidinvoices}}</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>235</h2>
							<p>Visitors</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="80%"></span>
					<span class="label">80%</span>
				</div>
			</div>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Sales Report</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<div id="chart"></div>
					</div>
				</div>
			</div>
		


	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script>
document.addEventListener('DOMContentLoaded', function() {
    const allProgress = document.querySelectorAll('main .card .progress');

    allProgress.forEach(item => {
        item.style.setProperty('--value', item.dataset.value);
    });

    var days = JSON.parse('{{ days|safe }}');
    var invoicesCounts = JSON.parse('{{ invoices_day|safe }}');

    var options = {
        series: [{
            name: 'Invoices',
            data: invoicesCounts
        }],
        chart: {
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime',
            categories: days
        },
        tooltip: {
            x: {
                format: 'dd/MM/yy'
            },
        },
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
});
</script>




{% endblock %}
